<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.8.0/js/canvas-to-blob.min.js"></script>
    <title>My Page Title</title>
  </head>
  <body>
    <div id="QRapp">
      <h1>QR maker</h1>
      <div class="main-wrapper">
        <div class="qr-options row">
          <div class="input-field col s12">
            <label for="qrUrl">QR Code</label>
            <input v-model="qrUrl" type="text">
          </div>
          <div class="qr-size col s3">
            <label>Resize Canvas:</label>
            <input v-model="qrSize" :min="qrMin" :max="qrMax" type="number">
            <label>px</label>
            <input v-model="qrSize" type="range" min="64" max="1440" step="1">
          </div>
          <div class="col s3">
            <label>Resize QR Code:</label>
            <input v-model="qrPadding" type="range" min="0" :max="0.2*qrSize" step="1"><span>{{qrPadding}}</span>
          </div>
          <div class="col s3">
            <label>Change QR Code Color:</label>
            <input v-model="qrColor1" type="color">
          </div>
          <div class="col s3">
            <label>Change QR Code Background:</label>
            <input v-model="qrColor2" type="color">
          </div>
          <div class="col s3">
            <input v-model="logoType" type="radio" value="text">
            <label>Enable Logo as Text:</label>
            <input v-model="logoText" type="text">
          </div>
          <div class="col s3">
            <label>Change Logo Size</label>
            <input v-model="logoScaling" type="range" min="0.5" max="1" step="0.01"><span>{{logoScaling}}</span>
          </div>
          <div class="col s3">
            <label>Logo Color</label>
            <input v-model="qrColor3" type="color">
          </div>
          <div class="col s3">
            <label>Logo Padding Color</label>
            <input v-model="qrColor4" type="color">
          </div>
          <div class="col s3">
            <input v-model="logoType" type="radio" value="image">
            <label>Insert Logo Image:</label>
            <input v-on:change="handleLogoImg" type="file">
          </div>
        </div>
        <canvas class="qr-code" id="qrCode" v-show="qrCode"></canvas>
        <div class="invalid-info" v-show="!qrCode"><span>請輸入 QR Code 連結</span></div>
        <div class="row">
          <button @click="downloadQRCode">下載</button>
        </div>
      </div>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
