#QRapp
  h1
    | QR maker
  .main-wrapper
    .qr-options.row
      .input-field.col.s12
        label(for='qrUrl') QR Code 連結
        input(v-model='qrUrl', type='text')
      .qr-size.col.s3
        label 尺寸:
        input(v-model='qrSize', :min='qrMin', :max='qrMax', type='number')
        label px
        input(v-model='qrSize', type='range', min='64', max='1440', step='1')
      .col.s3
        label 邊界
        input(v-model='qrPadding', type='range', min='0', :max='0.2*qrSize', step='1')
        span {{qrPadding}}
      .col.s3
        label 前景色
        input(v-model='qrColor1', type='color')
      .col.s3
        label 背景色
        input(v-model='qrColor2', type='color')
      .col.s3
        input(v-model='logoType', type='radio', value='text')
        label logo
        input(v-model='logoText', type='text')
      .col.s3
        label logo比例
        input(v-model='logoScaling', type='range', min='0.5', max='1', step='0.01')
        span {{logoScaling}}
      .col.s3
        label LOGO文字色
        input(v-model='qrColor3', type='color')
      .col.s3
        label LOGO描邊色
        input(v-model='qrColor4', type='color')
      .col.s3
        input(v-model='logoType', type='radio', value='image')
        label 選擇logo圖檔
        input(v-on:change='handleLogoImg', type='file')
    canvas#qrCode.qr-code(v-show='qrCode')
    .invalid-info(v-show='!qrCode')
      span 請輸入 QR Code 連結
    .row
      button(@click='downloadQRCode')
        | 下載
