link(rel="stylesheet", href="css/style.css")
script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.8.0/js/canvas-to-blob.min.js")
